#map {
    height: 100vh;
    /* 全屏高度 */
    z-index: 1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    position: relative;
}

.search-container {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 320px;
    z-index: 100;
}

.search-container:nth-child(2) {
    top: 60px;
    z-index: 90;
}

/* 搜索输入框的样式 */
.search-input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 100;
}


/* 搜索结果的样式 */
.search-results {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 400;
}

/* 搜索结果项的样式 */
.search-result-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    z-index: 400;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item:hover {
    background: #f4f4f9;
}

.no-results {
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
    z-index: 400;
}

#nav-btn {
    position: absolute;
    top: 155px;
    left: 50px;
    padding: 10px 20px;
    background-color: rgb(13, 110, 253);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    z-index: 50;
}

#nav-btn:hover {
    background-color: #13bc57;
}

.btn-group.my-btn-group {
    position: absolute;
    top: 110px;
    left: 50px;
    padding: 0px;
    background-color: #fefefe;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    z-index: 50;
}

.btn.active {
    position: relative;
    background-color: #13bc57;
    color: #13bc57;
    z-index: 60;
}